.say-hello {
    align-content: center;
}

.say-hello h1 {
    font-weight: bold;
    font-size: 22px;
    color: #4e4d5a;
}

.footer-wrapper {
    align-content: center;
    padding-top: 10%;
}

.social {
    width: 100%;
    font-size: 16px;
    font-family: "Raleway";
}

.no-underline {
    text-decoration: none !important;
    padding: 10px;
    display: inline-block;
}

.social-icon { margin-right: 5px !important;}

.created-by {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 20px;
    font-size: calc(10px + 0.2vw);
}

.blue-line {
    background-color: #4895F0;
    height: 8px;
    width: 100%;
}

.mobile-footer { visibility: hidden;}
.web-footer { visibility: unset;}

@media (max-width: 800px) {
    .footer-wrapper {
        margin-top: 5%;
    }

    .mobile-footer {
        visibility: unset;
        align-content: center;
        padding: 10px;
    }

    .say-hello {
        margin-bottom: -60px;
    }

    .no-underline {
        font-size: 22px;
    }

    .web-footer {
        visibility: hidden;
    }
}
