.projects-wrapper {
  width: 90%;
  margin: 0 auto;
}

.projects-title {
  text-align: center;
  font-size: 38px;
  color: #3c3b48;
  font-weight: 600;
  margin-bottom: 10%;
}

.project-section {
  height: calc(100vh - 150px);
  width: 100%;
  display: inline;
}

.hiitme-image {width: 100%;}

.project-description {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "pic pic desc desc desc"
    "pic pic btns btns btns";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 75px;
  text-align: left;
}

.project-description p {
  font-family: 'Raleway';
  font-size: 18px;
  color: #4e4d5a;
  text-align: left;
}

.project-type {
  font-family: 'Raleway';
  font-size: 24px;
  color: #4895F0;
  font-weight: 600;
  margin-left: 100px;
}

.project-name {
  font-family: 'Roboto';
  font-size: 44px;
  color: #3c3b48;
  font-weight: 600;
  margin-left: 100px;
}

hr {
  border-top: 5px solid #4895F0;
  margin-top: 26px;
  margin-left: 100px;
  margin-right: 10px;
}

.action-button {
  margin: 2%;
	font-family: "Roboto";
  font-weight: 400;
  text-align: center;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	background-color: #3c3b48;
	cursor: pointer;
	display: inline-flex;
  position:relative;
}

.action-button:hover {
  color: #3c3b48;
  border: 1px #3c3b48 solid;
  background-color: white;
}

.action-button-icon {padding: 10px;}
.action-button-text {padding: 10px;}

.col1 { grid-area: pic; }
.col2 { grid-area: desc; }
.col3 {
  grid-area: btns;
  margin-left: 90px;
  justify-content: space-between;
}
.content {display: inline-flex;}
.content1 {flex: 1;}
.content2 {flex: 2;}

@media (max-width: 950px) {
  .projects-wrapper {margin-top: 10%; margin-bottom: 10%;}

  hr {visibility: collapse !important;}

  .project-description {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "desc"
      "btns"
      "pic";
    grid-column-gap: 0px;
    grid-row-gap: 5%;
  }
  .col3{margin-left: 0;}

  .project-name{margin-left: 0px;}
  .project-type{margin-left: 0px;}
  .project-description p {text-align: center; margin: 0;}
  .content {display: inline-block;}
  .content1 {flex: 0;}
  .content2 {flex: auto;}
}
